<?xml version="1.0" encoding="UTF-8" ?>


<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">-->
<!--  <bean class="org.example.Car" id="car1" scope="prototype">-->
<!--    <property name="color" value="Blue"/>-->
<!--    <property name="model" value="Toyota"/>-->
<!--    <property name="engine" ref="engine"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.Car" id="car2">-->
<!--    <property name="color" value="Blue"/>-->
<!--    <property name="model" value="Honda"/>-->
<!--    <property name="engine" ref="engine"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.Engine" id="engine">-->
<!--    <property name="enginePower" value="1500"/>-->
<!--    <property name="engineType" value="V8"/>-->
<!--  </bean>-->
<!--</beans>-->